body{
    text-align: center;
    align-content: center;
   
    color: whitesmoke;
    background-image: url(https://images.unsplash.com/photo-1570018144715-43110363d70a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8a2l0dGVuc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}



